<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <link rel="shortcut icon" href="/redleaf_icon.ico" />
    <script src="https://code.jquery.com/jquery-3.5.1.slim.js" integrity="sha256-DrT5NfxfbHvMHux31Lkhxg42LY6of8TaYyK50jnxRnM=" crossorigin="anonymous"></script>
    <link href="https://fonts.googleapis.com/css2?family=Bangers&family=Montserrat+Alternates&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" integrity="sha384-JcKb8q3iqJ61gNV9KGb8thSsNjpSL0n8PARn9HuZOnIxN0hoP+VmmDGMN5t9UJ0Z" crossorigin="anonymous">
    
    <link rel="stylesheet" type="text/css" href="/css/index.css">
    <title>AALL Insurance Video Interview</title>
</head>
<body>
 
    {{{body}}}
 
    <script src="/js/interview.js"></script>
    <script src="https://embed.myinterview.com/widget/2.28.0/widget.js"></script>
    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js" integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.1/dist/umd/popper.min.js" integrity="sha384-9/reFTGAW83EW2RDu2S0VKaIzap3H66lZH81PoYlFhbGU+6BZp6G7niu735Sk7lN" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js" integrity="sha384-B4gt1jrGC7Jh4AgTPSdUtOBvfO8shuf57BaghqFfPlYxofvL8/KUEfYiJOMMV+rV" crossorigin="anonymous"></script>
    <script>
        var myInterviewRecorder = new myInterviewWidget({
            container: '#myinterview', // querySelector to the element that will contain the widget
            config : {
                apiKey: "ic67gY2dMUrVkW7Bg2tp",
                customBtn: "<a href='#video-interview' id='open-popup-myinterview' data-cssmodal-nohash class='custombtn'>Begin</a>",
                introVideo: "https://youtu.be/soGXpEboQGs",
                introVideoTitle: "Here's how this interview works.",
                practice: true,
                practiceParts: [
                    {
                        question: "Introduce yourself",
                        partDuration: 15,
                        description: "Example: Hello, my name is [Your Name].",
                        explanation: "This is your chance to get out those butterflies. You're a natural...",
                        points: ["Dress professionally.", "Look directly into the camera.", "Speak clearly and steadily.", "Smile!"],
                        conclusion: "Please click stop when you are finished practicing.",
                        numOfRetakes: 5
                    }
                ],
                completeCallback: callback,
                hasGdpr: true,
                firstScreenTitle: "Prescreen Interview for AALL Insurance",
                firstScreenSubOne: "Do not be nervous. Relax. Show us your true self.",
                firstScreenSubTwo: "Make sure you are in a quiet spot without distractions.",
                parts: [
                    {
                        question: 'In Spanish, please tell us when you started to speak Spanish in a professional setting',
                        partDuration: 45,
                        description: "This job requires you to be bilingual in order serve our Spanish-speaking customers.",
                        numOfRetakes: -1,
                        conclusion: "Please click stop when you are finished."
                    },
                    {
                        question: "In English, please tell us how you feel about customer service and helping others.",
                        partDuration: 60,
                        description: "This job is very focused on making our customers feel valued!",
                        points: ["Are you skills aligned with our desire to make everyone feel important?"],
                        numOfRetakes: -1,
                        conclusion: "Please click stop when you are finished."
                    },
                    {
                        question: "What excites you or makes you interested in working at AALL Insurance?",
                        partDuration: 60,
                        description: "We love people who are passionate about customer service.",
                        points: ["What made you want to apply for this position?"],
                        numOfRetakes: -1,
                        conclusion: "Please click stop when you are finished."
                    },
                    {
                        question: "In whichever language you prefer, tell us why you would be a good fit.",
                        partDuration: 60,
                        description: "Use what you know about us and what caught your interest in working here.",
                        points: ["Sell yourself!"],
                        numOfRetakes: -1,
                        conclusion: "Please click stop when you are finished."
                    },
                    {
                        question: "In Spanish, share with us 3 or 4 characteristics you've learned in previous positions that will help you succeed at AALL Insurance?",
                        partDuration: 75,
                        points: ["Be sure to use real examples from your life."],
                        numOfRetakes: -1,
                        conclusion: "Please click stop when you are finished."
                    },
                    {
                        question: "Please outline the type of work schedule you are looking for. Also, if you are hired, when can you start?",
                        description: "Our typical office hours are Mon-Fri, 9am-7pm; Sat 9am-5pm; and the occasional Sunday.",
                        partDuration: 30,
                        numOfRetakes: -1,
                        conclusion: "Please click stop when you are finished."
                    }
                ]
            }
        });
    </script>

</body>
</html>