body {
    display: flex;
    /* align-items: center; */
    height:90vh;
    flex-direction: column;
    font-family: 'Montserrat Alternates', sans-serif;
}

#header {
    /* Permalink - use to edit and share this gradient: https://colorzilla.com/gradient-editor/#ffffff+0,d11717+64,f6f6f6+100&1+0,0.24+100 */
background: -moz-linear-gradient(-45deg,  rgba(255,255,255,1) 0%, #ac3a79 64%, rgba(246,246,246,0.24) 100%); /* FF3.6-15 */
background: -webkit-linear-gradient(-45deg,  rgba(255,255,255,1) 0%,#ac3a79 64%,rgba(246,246,246,0.24) 100%); /* Chrome10-25,Safari5.1-6 */
background: linear-gradient(135deg,  rgba(255,255,255,1) 0%,#ac3a79 64%,rgba(246,246,246,0.24) 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffffff', endColorstr='#3df6f6f6',GradientType=1 ); /* IE6-9 fallback on horizontal gradient */
width: 100vw;
height: 90px;
border-bottom: 3px double lightgray;
}

#logo {
    background-image: url(../assets/aallleaves.jpg);
    height: 80%;
    margin-left: 100px;
    background-size: contain;
    background-repeat: no-repeat;
    margin-top:10px;
}

#form-container {
    display:flex;
    background-image: url(../assets/Hands-1.png);
    height: 75vh;
    width: 80vw;
    background-size: cover;
    background-repeat: no-repeat;
    margin: auto;
    justify-content: center;
    box-shadow: 0px 0px 20px 0px rgba(170,170,170,0.3);
    border-radius: 5px;
}

.card {
    height: 89%;
    background-color: whitesmoke;
    border-radius: 5px;
    width: 50%;
    opacity: 0;
    margin: auto;
    transform: translateX(-100%);
    animation: slide-in 1s forwards 2s;
    text-align: center;
}

.welcome {
    margin-top: 20px;
    font-size: 40px;
    margin-bottom: 13px;
    font-family: 'Bangers', cursive;
}

.welcome-body p {
    padding: 5px 20px 5px 20px;
}

.custombtn {
    padding: 10px 25px;
    color: #6bb344;
    border: 1px solid #6bb344;
    border-radius: 22px;
    text-decoration: none;
}

@keyframes slide-in {
    100% { 
        transform: translateX(0%);
        opacity: 0.9 
    }
}